$primary: "";
$primary-light: "";
$primary-lighter: "";
$primary-dark: "";
$primary-darker: "";
$primary-transparent: "";

$secondary: "";
$secondary-light: "";
$secondary-lighter: "";
$secondary-dark: "";
$secondary-darker: "";

$dark: "";
$dark-transparent: "";
$light: "";

$black: #000;
$white: #fff;

$info: "";

$grey: "";
$grey-dark: "";
$grey-light: "";

$warning: "";
$warning-light: "";

$danger: "";
$danger-dark: "";

$success-dark: #0467cc;
$success: #1188ee;
$success-light: #269bff;
$success-lighter: #269bff;

$orange: #ff9f2e;
$orange-light: #fbb664;
$orange-dark: #ff8a01;

$dark: #17222d;

$grey-2: #667788;
$grey-3: #445566;

$grey: #bbccdd;
$grey-light: #eff4f9;
$grey-dark: #99aabb;
