$base-nudge: 0.5rem;
$nudge: $base-nudge;
$half-nudge: $base-nudge / 2;
$nudge-2: $base-nudge * 2;
$nudge-3: $base-nudge * 3;
$nudge-3: $base-nudge * 3;
$nudge-4: $base-nudge * 4;
$nudge-5: $base-nudge * 5;
$nudge-6: $base-nudge * 6;
$nudge-7: $base-nudge * 7;
$nudge-8: $base-nudge * 8;
$nudge-9: $base-nudge * 9;
$nudge-10: $base-nudge * 10;
$nudge-11: $base-nudge * 11;
$nudge-12: $base-nudge * 12;
$nudge-13: $base-nudge * 13;
$nudge-14: $base-nudge * 14;
$nudge-15: $base-nudge * 15;
$nudge-16: $base-nudge * 16;
