.container {
  padding: 0 $nudge-2;
  margin: 0 auto;
  width: 100%;
}

@include for-tablet-portrait-up {
  .container {
    max-width: 36rem;
  }
}

@include for-desktop-up {
  .container {
    max-width: 80rem;
  }
}
