.TextArea:not(:last-child) {
  margin-bottom: $nudge-2;
}

.TextArea {
  width: 100%;
  position: relative;

  label {
    width: 100%;
    display: block;
    color: $dark;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    margin: $half-nudge;
    color: #667788;
  }

  textarea {
    outline: none;
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    padding: $nudge;
    border: 3px solid #eff4f9;
    box-sizing: border-box;
    border-radius: $nudge;
    font-size: 24px;
    line-height: 33px;
  }

  p {
    font-size: 16px;
    text-align: left;
  }

  &--error {
    textarea {
      border-color: $orange;
    }

    p {
      color: $orange;
    }
  }
}
